/* colors:
    yellow #FFBE00
    navy
      */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body styles */
body{
    font-family: 'catamaran', sans-serif;
    color: rgb(5, 10, 39);
}
 


/* image styles */
.bg-image{
    background-image: url('/images/sleep-co-bed-dark.jpg');
    background-size: cover;
}

/* universal styles and utility classes */

.padded         {padding: 5%;}
.padded-sm      {padding: 1rem;}
.padded-lg      {padding: 10%;}
.padded-left    {padding-left: 10%;}
.padded-right   {padding-right: 10%;}

.bg-dark {
    background-color: rgb(5, 10, 39);
    color: white;
}

.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}
.tall-100 {min-height: 100vh;}
 
.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120 120 125);
    line-height: 1;
}
 

/* typography styles */
 
.featured-text {color: #FFBE00; }
.white-text    {color: white}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120 120 125);
}

.small-text  {font-size: 1.5rem;}
.medium-text {
    font-size: 2rem;
     line-height: 1.1;}
.big-text    {font-size: 11vw;}

.text-left      { text-align: left;}
.text-center    { text-align: center;}
.text-right     { text-align: right;}

.font-weight-light      {font-weight: 200;}
.font-weight-normal     {font-weight: normal;}
.font-weight-extra-bold {font-weight: 800;}

h3{
    line-height: 1;
}

h2{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
 
p{
    font-weight: 200;  
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child{
    margin-bottom: 0; 
}

a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;}

header a{
    color: white;

}

a:hover{
    color:#FFBE00
}
 

/* header & footer styles */

header{
    background: rgb(5, 10, 39);
    background-size: cover;
    background-position: center;
}

header h3 {
font-size: 5.5rem;
line-height: 1;
}

header a {
    border: none;
    padding-left: 10%;
}



footer a{
    border: none;
}
 


/* background images */

.bg-bed {
    background-image: url('/images/sleep-co-bed-dark.jpg');
    background-position: 50% 50%;
}

.bg-pug  {
    background-image: url('/images/sleep-co-pug.jpg');
    background-position: 50% 35%;
}
.bg-pillow {
    background-image: url('/images/sleep-co-bed-yellow.jpg');
    background-position: 50% 58%;
}

.bg-sheets {
    background-image: url('/images/sleep-co-bed-white.jpg');
    background-position: 50% 50%;}


/* Icon grid */ 

.fa-solid{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}



/* KOPIERT */
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

    /* to see where md, sm and xs start */
    body{
        border: 2px solid rgb(25, 162, 84); 
        padding: 0.5rem;}

  .show-md { display: block; }
  .hide-md { display: none;  }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    body{
        border: 2px solid orange;}

  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body{
        border: 2px solid rgb(117, 207, 210);}

  .show-xs { display: block; }
  .hide-xs { display: none;  }
}


/* ------- XXS Media Query (25em / 400px) --------------- */

@media (max-width: 25em) {

    body{
        border: 2px solid yellow;}

    [class*="grid-"] .xxs-stack{
    flex-basis: 100%;
    max-width: 100%;
    }
}